.faq {
  padding-top: 80px;
  padding-bottom: 80px;
  .faq-cont {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    .faq-list {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
    .faq-item {
      > a {
        background-color: cl(white);
        display: block;
        border-bottom: 1px solid #cccccc;
        padding: 14px;
        @include overTab {
          padding-top: 20px;
          padding-bottom: 20px;
          text-align: center;
        }
        .title {
        }
      }
      .detail {
        background-color: #ffffff;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 0.9;
        border-bottom: 1px solid #cccccc;
        padding: 14px;
        display: none;
        @include overTab {
          padding-top: 25px;
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 25px;
        }
      }
    }
  }
}
